<template>
  <div>
    <sticker-pack v-if="type === null || type === 'single_sticker_pack' || type === 'multi_sticker_pack'"></sticker-pack>
    <contour-sticker-pack v-if="type === 'contour_sticker'"></contour-sticker-pack>
    <static-stickers v-if="type === 'static_pack_animals'"></static-stickers>
    <cup v-if="type === 'cup'"></cup>
  </div>
</template>

<script>
  import StickerPack from './StickerPack.vue';
  import ContourStickerPack from './ContourStickerPack.vue';
  import Cup from './Cup.vue';
  import StaticStickers from './StaticStickers.vue';

  export default {
    name: 'Constructor',
    layout: 'client',
    components: {
      StickerPack,
      ContourStickerPack,
      Cup,
      StaticStickers
    },
    computed: {
      type () {
          const product = this.$store.state.order.selected_product;
          if (product) {
              return product.type;
          }
          return product;
      }
    },
    mounted () {
    }
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';

</style>
