<template>
  <div>
    <h3 class="title title--small">Введите эмоджи с клавиатуры</h3>
    <div class="stickerpack" v-for="(pack, index) in stickers" :key="index">
      <p class="stickerpack__title">Кружка №{{index + 1}}</p>

      <button v-if="index !== 0" class="stickerpack__remove" @click.prevent.default="removeStickerPack(index)">
        <v-icon style="fill: #EB5757;" name="trash"></v-icon>
      </button>
      <div
        v-for="(stickerWrapper, fileIndex) in pack.files" :key="fileIndex"
        @click="setFocus(`sticker_${index}_${fileIndex}`, index, fileIndex)"
        :class="{
          'stickerpack__file-label': stickerWrapper.file === null,
           'stickerpack__file-label--filled': stickerWrapper.file !== null,
            'stickerpack__file-label--error': !stickerWrapper.is_valid,
            'stickerpack__file-label--focus': stickerWrapper.is_focused,
            'stickerpack__file-label--loading': stickerWrapper.is_loading
        }"
      >
        <div
          class="stickerpack__file"
          contenteditable="true" :ref="`sticker_${index}_${fileIndex}`" :data-sticker-index="index"
          :data-file-index="fileIndex" :id="`sticker_${index}_${fileIndex}`" @paste="onStickerInput">
        </div>
        <img :ref="`sticker_${index}_${fileIndex}_image`" :id="`sticker_${index}_${fileIndex}_image`"
             :src="stickerWrapper.img_src"
             :class="{'stickerpack__file-img-hidden': stickerWrapper.file === null, 'stickerpack__file-img': stickerWrapper.file !== null}"/>
      </div>
      <span class="sticker_cup-count">x</span>
      <div
        v-for="(stickerWrapper, fileIndex) in pack.files" :key="fileIndex"
      >

      <img
        src="/img/cup-left.png"
        class="sticker_cup-preview-img"
        alt="cup">
      <img
           :src="stickerWrapper.img_src"
           :class="{'stickerpack__file-img-hidden': stickerWrapper.file === null, 'sticker_cup-preview-sticker': stickerWrapper.file !== null}"/>
      </div>
    </div>
    <div class="has-error"><sup>*</sup>Необходимо заполнить слот</div>
    <button class="stepper__button" @click.prevent.default="addMoreStickers()">+ Еще кружка</button>
  </div>
</template>

<script>
  export default {
    name: 'cup-builder',
    layout: 'client',
    data() {
      return {
        count: 1
      }
    },
    computed: {
      stickers: {
        get () {
          const orderLines = this.$store.state.order.order_lines;
          if (orderLines) {
              console.log('cup orderlines', orderLines)
            return orderLines.stickers;
          }
          return [];
        }
      }
    },
    methods: {
      setFocus(ref, index, file_index) {
        this.$store.commit('order/SET_FOCUS', {
          sticker_pack_index: index,
          file_index: file_index
        });
        this.$refs[ref][0].focus();
      },
      removeStickerPack (index) {
        this.$store.commit('order/REMOVE_STICKER_PACK', index);
        this.$store.commit('order/CALCULATE_TOTAL_PRICE');
      },
      addMoreStickers () {
        this.$store.commit('order/ADD_STICKER_PACK');
        this.$store.commit('order/CALCULATE_TOTAL_PRICE');
      },
      onStickerInput($event) {
        const pastedData = $event.clipboardData.items[0];

        // If the clipboard data is of type image, read the data
        if (pastedData.type.indexOf("image") === 0) {
          const file = pastedData.getAsFile();
          if (!/^image\//.test(file.type)) { // if not an image; 0 since we take only 1 image, if multiple dragged at once, consider only the first one in the array
            console.log('ERROR: Not an image file.');
            return false;
          }

          var reader = new FileReader();

          reader.onload = ((store, file) => {
            return (event) => {
              store.dispatch('order/FILL_STICKER', {
                sticker_pack_index: parseInt($event.target.dataset['stickerIndex']),
                file_index: parseInt($event.target.dataset['fileIndex']),
                file: file,
                img_src: event.target.result
              });

              this.$refs[`sticker_${$event.target.dataset['stickerIndex']}_${$event.target.dataset['fileIndex']}`].textContent = null;
            };
          })(this.$store, file);

          reader.readAsDataURL(file);

        }
      },
    },
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  .sticker_count {
    font-weight: bold;
  }

  .sticker_cup {
    &-count {
      font-size: 20px;
      display: inline-flex;
      line-height: 100px;
      margin: 0 30px;
    }

    &-preview {
      display: inline-flex;
      flex: 1;
      position: relative;

      &-img {
        width: 120px;
        height: 120px;
      }
      &-sticker {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        right: 35px;
        top: 53px;

      }
    }
  }
</style>
