<template>
  <div class="basic-stickers">
    <h3 class="title title--small">Выберите нужного зверя:</h3>
    <template v-for="(stickerpack, index) in stickers">
      <div class="stickerpack" :key="index">
        <p class="stickerpack__title">Стикерпак №{{ index + 1 }}</p>
        <button v-if="index !== 0" class="stickerpack__remove" @click.prevent.default="removeStickerPack(index)">
          <v-icon style="fill: #EB5757;" name="trash"></v-icon>
        </button>
        <div v-for="(sticker, fileIndex) in stickerpack.files" :key="fileIndex">
          <swiper class="slider"
                  :ref="`stickersSwiper_${index}_${fileIndex}`"
                  :data-stickerpack-index="index"
                  :options="swiperOptions">
            <swiper-slide v-for="(preview, key) in sticker.previews" :key="key">
              <img :src="preview.url">
            </swiper-slide>
          </swiper>
          <swiper class="slider-pagination"
                  :ref="`stickersSwiperPagination_${index}_${fileIndex}`"
                  :options="swiperPagOptions">
            <swiper-slide v-for="(thumbnail, key) in sticker.thumbnails" :key="key">
              <div class="pagination-img" :style="{background: 'url(' + thumbnail.url + ')'}"></div>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </template>
    <button class="stepper__button stepper__button--white" @click.prevent.default="addMoreStickers()">+ Еще стикерпак</button>
  </div>
</template>

<script>
export default {
  computed: {
    stickers: {
      get () {
        const orderLines = this.$store.state.order.order_lines;
        if (orderLines) {
          this.initSlider();
          return orderLines.stickers;
        }
        return [];
      }
    }
  },
  data() {
    return {
      swiperOptions: {
        loop: false,
        spaceBetween: 10,
      },
      swiperPagOptions: {
        loop: false,
        slidesPerView: 5,
        touchRatio: 1,
        spaceBetween: 5,
        slideToClickedSlide: true,
        centeredSlides: true
      },
    }
  },
  methods: {
    removeStickerPack (index) {
      this.$store.commit('order/REMOVE_STICKER_PACK', index);
      this.$store.commit('order/CALCULATE_TOTAL_PRICE');
    },

    addMoreStickers () {
      this.$store.commit('order/ADD_STICKER_PACK');
      this.$store.commit('order/CALCULATE_TOTAL_PRICE');
      this.initSlider()
    },

    initSlider () {
      this.$nextTick(() => {
        this.stickers.forEach((stickerPack, index) => {
          stickerPack.files.forEach((file, fileIndex) => {
            const swiperTop = this.$refs[`stickersSwiper_${index}_${fileIndex}`][0];
            const swiperThumbs = this.$refs[`stickersSwiperPagination_${index}_${fileIndex}`][0];

            if (swiperTop) {
              const swiper = swiperTop.swiper;
              swiper.controller.control = swiperThumbs.swiper;

              swiper.on('slideChange', () => {

                this.onSlideChange(swiperTop.$attrs['data-stickerpack-index'], swiper.activeIndex);
              });
            }

            if (swiperThumbs) {
              swiperThumbs.swiper.controller.control = swiperTop.swiper;
            }

          });
        })
      })
    },

    onSlideChange (stickerpackIndex, slideIndex) {
      this.$store.commit('order/FILL_STATIC_STICKERPACK', {
        stickerpack_index: stickerpackIndex,
        selected_slide_index: slideIndex
      })
    }
  },
  mounted () {
  }
}

</script>

<style lang="stylus" scoped>
  .pagination-img {
    display block
    margin-left auto
    margin-right auto
    width 45px
    height 45px
    background-size 85% auto !important
    background-position center center !important
    background-repeat no-repeat !important
    border-radius 50%
    border 3px solid rgba(#fff, 0)
    opacity .8
    transition all .35s ease

    .swiper-slide-active & {
      opacity 1
      border 3px solid rgba(#994DC9, .8)
    }
  }

  .slider-pagination {
    height 51px
  }

  .slider,
  .slider-pagination {
    max-width 315px
    margin-left auto
    margin-right auto
  }

  .slider-pagination {
    width 100%
  }
</style>
