<template>
  <DesktopWrapper>
    <div class="order">
      <div class="order__wrapper order__wrapper--thank-you">
        <h1 class="title">{{ $t('thank-you.title') }}</h1>
        <img src="/img/thank-you.png" alt="image" v-is-in-view-port="'is-visible'" class="thank-you__img">
        <h5 class="subtitle subtitle--dark subtitle--thank-you" v-is-in-view-port="'is-visible'">{{ $t('thank-you.subtitle', { order: order.order_number }) }}</h5>
        <p class="text text--thank-you">{{ $t('thank-you.descr') }}</p>
        <p class="text text--center text--violett">{{ $t('thank-you.with-love')}}</p>
        <nuxt-link to="/" class="link link--thank-you">{{ $t('buttons.on-front') }}</nuxt-link>
        <div class="border-line"></div>
        <!--<button class="button&#45;&#45;thank-you">{{ $t('buttons.share-friends') }}</button>-->
        <div class="social-share">
          <Facebook scale="4" :url="url" :title="title"></Facebook>
          <Telegram scale="4" :url="url" :title="title"></Telegram>
          <Twitter scale="4" :url="url" :title="title"></Twitter>
        </div>
        <div class="custom-order__group custom-order__group--thank-you" v-is-in-view-port="'is-visible'">
          <a href="promocode-memoji"
            id="promo"
            class="custom-order__link custom-order__link--copy custom-order__link--copy-orange"
            @click.prevent="copyToClipboardPromo()"></a>
          <p class="custom-order__name custom-order__name--thank-you">{{ promo_code }}</p>
          <!--<button-->
            <!--class="custom-order__link custom-order__link&#45;&#45;share"></button>-->
        </div>

        <p class="text text--thank-you text--thank-you-large">{{ $t('thank-you.text-under-share') }}</p>
      </div>
    </div>
  </DesktopWrapper>
</template>

<script>
  import Nuxt from "../../.nuxt/components/nuxt";
  import {isInViewPort} from '~/directives/isInViewPort.js';
  import copy from 'copy-to-clipboard';
  import OrderApi from '@/api/order';
  import { Facebook, Telegram, Twitter } from 'vue-socialmedia-share';
  import DesktopWrapper from '@/components/DesktopWrapper.vue';

  export default {
    components: {Nuxt, Facebook, Telegram, Twitter, DesktopWrapper},
    name: 'thank-you-page',
    layout: 'client',
    data () {
      return {
        order_id: 12,
        order: {},
        promo_code: 'memoji30',
        title: 'Стикеры с твоими личными Memoji',
        url: 'https://memoji.shop'
      }
    },
    methods: {
      copyToClipboardPromo() {
        try {
          copy(this.promo_code, {
            debug: true,
            message: 'Press #{key} to copy',
          });
        } catch (err) {
          alert('Oops, unable to copy');
        }
      },
      async loadOrder (orderId) {
          this.order = await OrderApi.getOrderForClient(orderId);
          console.log('order', this.order);
      },
      async loadPromo () {
        this.promo_code = await OrderApi.getPromoForFriend();
      }
    },
    async mounted () {
      this.order_id = this.$route.params.order_id;
      await this.loadOrder(this.$route.params.order_id);
      this.$store.commit('order/RESET_ORDER_STATE');
    },
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/desktop.styl';

  // @media (min-width: 1024px) {
  //   body {
  //     max-width: 375px;
  //     margin: 0 auto;
  //   }
  // }
  .social-share {
    display: flex;
    justify-content space-between
    flex-wrap: wrap;
  }
</style>
