<template>
  <div class="admin content">
    <ValidationObserver tag="form" @submit.prevent="login()">
      <form class="admin login">
        <h3 class="title title--small">Админка</h3>
        <ValidationProvider
          class="input-wrapper"
          mode="lazy"
          :rules="{ required: true, min: { length: 12} }"
          v-slot="{ errors }"
        >
          <input class="form-input"
                 v-mask="'+##-(###)-###-##-##'"
                 v-model="phoneNumber"
                 type="text"
                 placeholder="+38 0хх ххх хх хх">
          <span class="error-message" v-if="errors[0]">Можно, нормальный номер, пожалуйста</span>
        </ValidationProvider>
        <ValidationProvider
          class="input-wrapper"
          mode="lazy"
          :rules="{ required: true, min: { length: 4} }"

          v-slot="{ errors }"
          v-if="isVerificationCodeSent"
        >
          <input
            class="form-input"
            v-mask="'####'"
            v-model="verificationCode"
            placeholder="4-x значный код">
          <span class="error-message" v-if="wrongCodeError">Не тот код :(</span>
        </ValidationProvider>


        <button @click="login" :disable="isPhoneNumberValid" class="button centered" v-if="!isVerificationCodeSent">
          Отправить код
        </button>
        <button @click="verifyCode" :disable="isPhoneNumberValid" class="button centered" v-if="isVerificationCodeSent">
          Подтвердить код
        </button>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
  import Nuxt from "../../.nuxt/components/nuxt";
  import AdminApi from '@/api/admin';
  import Vue from 'vue';
  export default {
    name: 'login',
    layout: 'admin',
    components: {
      Nuxt
    },
    data() {
      return {
        phoneNumber: '+38-(097)-413-08-79',
        verificationCode: null,
        isPhoneNumberValid: false,
        wrongCodeError: false,
        isVerificationCodeSent: false
      }
    },
    methods: {
      async login (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        const phoneNumber = this.phoneNumber;
        console.log('phoneNumber', phoneNumber);
        if (phoneNumber && phoneNumber.length >= 13) {
          console.log('hey');
          const response = await AdminApi.login(phoneNumber);
          console.log(response);
          this.isVerificationCodeSent = true;
        } else {
          this.isPhoneNumberValid = false;
        }
      },
      async verifyCode (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        const verificationCode = this.verificationCode;
        if (verificationCode && verificationCode.length >= 4) {
          const code = parseInt(verificationCode);
          try {
            const user = await AdminApi.verifyCode(this.phoneNumber, code);
            if (user && user.tokens && user.tokens.access_token) {
              window.localStorage.setItem('access_token', user.tokens.access_token);
              window.localStorage.setItem('user', JSON.stringify(user));
              window.localStorage.setItem('refresh_token', user.tokens.refresh_token);
              console.log('router', this.$router);
              this.$router.push('/admin/orders/new');
            }
          } catch (error) {
            console.log(error)
            this.wrongCodeError = true;
          }
        }
      }
    },
    async mounted () {
    },
    watch: {
      verificationCode (newVal) {
        this.wrongCodeError = false;
        if (newVal >= 4) {
          this.isVerificationCodeValid = true
        }
      }
    }
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/admin-login.styl';

</style>
