<template>
  <div>
    <admin-header page-title="Заказы"></admin-header>
    <order-tabs></order-tabs>
    <section class="admin orders-table">
      <b-table
        :data="orders"
        detailed
      >
        <template slot-scope="props">
          <b-table-column @click.native="toggleInfo(props.row)" field="created_at" label="Дата создания">
            {{ moment(props.row.created_at).format('DD-MM-YYYY HH:mm:ss') }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="order_number" label="Номер заказа">
            {{ props.row.order_number }}
          </b-table-column>
          <b-table-column field="pdf" label="Макет">
            <a :href="orderLine.product_link" v-for="(orderLine, index) in props.row.order_lines" :key="index"
               target="_blank">
              <b-icon
                icon="emoticon-sad"
                size="is-small">
              </b-icon>
              Скачать</a>
          </b-table-column>
          <b-table-column field="marking" label="Маркировка">
            <a v-if="props.row.marking_url" :href="props.row.marking_url" target="_blank">
              <b-icon
                icon="emoticon-sad"
                size="is-small">
              </b-icon>
              Скачать</a>
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="user_name" label="Заказчик">
            {{ props.row.user_name }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="phone_number" label="Телефон">
            {{ props.row.phone_number }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="email" label="Email">
            {{ props.row.email }}
          </b-table-column>
          <!--<b-table-column @click.native="toggleInfo(props.row)" field="address" label="Адрес">-->
            <!--{{ props.row.address }}-->
          <!--</b-table-column>-->
          <b-table-column @click.native="toggleInfo(props.row)" field="city" label="Город">
            {{ props.row.city }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="post_office" label="Отделение НП">
            {{ props.row.post_office }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="comment" label="Коммент">
            {{ props.row.comment }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="promo_code" label="Промо">
            {{ props.row.promo_code }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="total_price" label="Цена"
                          v-if="isAdmin(userRole)">
            {{ props.row.total_price }}
          </b-table-column>
          <b-table-column @click.native="toggleInfo(props.row)" field="promo_code" label="ID оплаты"
                          v-if="isAdmin(userRole)">
            {{ props.row.payment_id }}
          </b-table-column>
          <b-table-column label="Действие">
            <a @click="sendToReadyForDelivery(props.row)" class="admin orders-btn">Готов к доставке</a>
          </b-table-column>
        </template>

        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon
                  icon="emoticon-sad"
                  size="is-large">
                </b-icon>
              </p>
              <p>Пока что никаких заказов</p>
            </div>
          </section>
        </template>
      </b-table>
      <transition name="showInfo">
        <InfoSection
          :info="selectedRow"
          v-if="infoIsActive"/>
      </transition>
      <transition name="showBg">
        <div class="infoSection-bg"
             v-if="infoIsActive"
             @click="infoIsActive = false"
        ></div>
      </transition>
    </section>
  </div>
</template>

<script>
  import moment from 'moment';
  import Nuxt from "../../../.nuxt/components/nuxt";
  import AdminApi from '@/api/admin';
  import AdminHeader from '@/components/admin/Header';
  import OrderTabs from '@/components/admin/OrderTabs';
  import InfoSection from '@/components/admin/InfoSection';
  import {isAdmin} from '@/mixins';

  export default {
    components: {
      Nuxt,
      AdminHeader,
      OrderTabs,
      InfoSection
    },
    name: 'new',
    layout: 'admin',
    mixins: [isAdmin],
    computed: {
      userRole () {
        return this.$store.state.user_role;
      }
    },
    data() {
      return {
        orders: [],
        moment: moment,
        infoIsActive: false,
        selectedRow: null
      }
    },
    methods: {
      async sendToReadyForDelivery(order) {
        await AdminApi.sendOrderToReadyForDelivery(order.id);
        await this.loadOrders();
        this.$notify({
          group: 'admin',
          title: 'Заказ упакован!',
          text: 'Указанный заказ упакован и готов к доставке!'
        });
      },
      async loadOrders () {
        const orders = await AdminApi.getOrders({
          limit: 5000,
          skip: 0,
          order_status: 'in_print'
        });
        this.orders = orders;
      },
      toggleInfo(infoData) {
        this.infoIsActive = !this.infoIsActive;

        if (this.infoIsActive) {
          this.selectedRow = infoData;
        } else {
          this.selectedRow = null;
        }
      }
    },
    async mounted () {
      this.loadOrders();
    },
    watch: {}
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';

</style>

<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/admin.styl';
  @import '~assets/style/admin-orders.styl';

</style>
