<template>
  <div class="client-info">
    <h3 class="title title--small">Доставка</h3>
    <p class="client-info__subtitle">мы доставляем стикеры ASAP</p>
    <ValidationObserver ref="deliveryObserver" tag="form">
      <ValidationProvider
        :rules="{ required: true}"
        v-slot="{ errors, validate}"
      >
        <b-field
          :type="{'is-success': isValid, 'is-error': errors[0]}"
          :message="{'Это обязательное поле': errors[0]}">

          <b-input
            class="required" :class="{'error': errors[0]}" v-model="username"
            @change="validate" @focus="nameFocused = true" @blur="nameFocused = false"
          ></b-input>

          <label class="order-input__label" :class="{isFocused : nameFocused, isFilled : username}">Имя</label>
        </b-field>

      </ValidationProvider>
      <ValidationProvider
        :rules="{ required: true}"
        v-slot="{ errors, validate}"
      >
        <b-field
          :type="{'is-success': isValid, 'is-error': errors[0]}"
          :message="{'Это обязательное поле': errors[0]}">

          <b-input
            class="required"
            :class="{'error': errors[0]}" v-model="lastname" @change="validate"
            @focus="lastnameFocused = true" @blur="lastnameFocused = false"
          ></b-input>

          <label class="order-input__label" :class="{isFocused : lastnameFocused, isFilled : lastname}">Фамилия</label>
        </b-field>

      </ValidationProvider>
      <ValidationProvider
        :rules="{ required: true, email: true}"
        v-slot="{ errors, validate }"
      >

        <b-field
          :type="{'is-success': isValid, 'is-error': errors[0]}"
          :message="{'Введите корректный email': errors[0]}">

          <b-input
            class="required"
            :class="{'error': errors[0]}" v-model="email" type="email"
            @focus="emailFocused = true" @blur="emailFocused = false"></b-input>

          <label class="order-input__label" :class="{isFocused : emailFocused, isFilled : email}">Email</label>
        </b-field>

      </ValidationProvider>

      <ValidationProvider
        :rules="{ required: true, phone: true }"
        v-slot="{ errors }"
      >
        <b-field
          :type="{'is-success': isValid, 'is-error': errors[0]}"
          :message="{'Введите корректный номер телефона': errors[0]}">
          <input
            class="required form-input"
            :class="{'error': errors[0]}"
            v-mask="'+##-###-###-##-##'"
            v-model="phone"
            type="text"
            placeholder="+38 0хх ххх хх хх"
            @blur="phoneFocused = false"
            @focus="phoneFocused = true"
          />
          <label class="order-input__label" :class="{ isFocused: phoneFocused, isFilled : phone}">Номер телефона</label>
        </b-field>
      </ValidationProvider>
      <ValidationProvider
        :rules="{ required: true}"
        v-slot="{ errors }"
      >
        <b-field
          :type="{'is-success': isValid, 'is-error': errors[0]}"
          :message="{'Это обязательное поле': errors[0]}">
          <b-input
            class="required"
            :class="{'error': errors[0]}"
            v-model="city" type="text"
            @focus="townFocused = true" @blur="townFocused = false"
          ></b-input>

          <label class="order-input__label" :class="{ isFocused: townFocused, isFilled : city}">Город</label>
        </b-field>
        <!--<b-field label="Отделение новой почты">-->
          <!--<b-select placeholder="Выберите город">-->
            <!--<option v-for="(city, $index) in cities" :value="city" :key="$index">{{ city }}</option>-->
          <!--</b-select>-->
        <!--</b-field>-->
      </ValidationProvider>


      <ValidationProvider
        :rules="{ required: true}"
        v-slot="{ errors }"
      >
        <b-field
          :type="{'is-success': isValid, 'is-error': errors[0]}"
          :message="{'Это обязательное поле': errors[0]}">
          <b-input
            class="required"
            :class="{'error': errors[0]}"
            v-model="postOffice" type="number"
            @focus="postFocused = true" @blur="postFocused = false"
          ></b-input>

          <label class="order-input__label" :class="{ isFocused: postFocused, isFilled : postOffice }">Отделение новой почты</label>

        </b-field>
        <!--<b-field label="Отделение новой почты">-->
          <!--<b-select placeholder="Выберите отделение">-->
            <!--<option v-for="(office, $index) in postOffices" :value="office" :key="$index">{{ office }}</option>-->
          <!--</b-select>-->
        <!--</b-field>-->
      </ValidationProvider>


      <b-field
        :type="{'is-success': has_promo, 'is-error': has_promo === false}"
        :message="{'Промо-код успешно применен': has_promo, 'Такого промо-кода не существует': has_promo === false}">
        <b-input :class="{'error': has_promo === false, 'success': has_promo === true}" v-model="promoCode"
                @blur="checkPromo"
                @focus="promoFocused=true"></b-input>

        <label class="order-input__label" :class="{ isFocused: promoFocused, isFilled: promoCode }">Скидочный промо-код</label>
      </b-field>

      <b-field>
        <textarea class="form-textarea"
          v-model="comment" @focus="commentFocused = true" @blur="commentFocused = false"></textarea>
        <label class="order-input__label" :class="{isFocused : commentFocused, isFilled : comment}">Комментарий к заказу</label>
      </b-field>
      <div class="form-group">
        <ValidationProvider
          :rules="{ required: { allowFalse: false } }"
          v-slot="{ errors, validate }"
        >

          <b-field
            type="is-error"
            :message="{'Для оплаты необходимо принять условия использования': agreement === false}">
        <b-switch :class="{'error': agreement === false}" @change="validate" v-model="agreement">

          Я принимаю <a href="https://telegra.ph/Dogovor-publichnoj-oferty-10-20" class="copyright__link">условия использования</a></b-switch>

          </b-field>
        </ValidationProvider>

        <input type="checkbox" id="checkbox" class="form-checkbox">

      </div>
    </ValidationObserver>
  </div>
</template>

<script>
  export default {
    name: 'Order',
    layout: 'client',
    data() {
      return {
          has_promo: null,
          nameFocused: false,
          lastnameFocused: false,
          emailFocused: false,
          townFocused: false,
          postFocused: false,
          promoFocused: false,
          commentFocused: false,
          phoneFocused: false
      }
    },
    computed: {
       isValid () {
        const isValid = this.$store.state.order.is_order_ready_to_checkout;
        if (!isValid) {
        }
        return isValid;

      },
      username: {
        get () {
          return this.$store.state.order.user_name;
        },
        set (value) {
          this.$store.commit('order/ADD_USER_NAME', value)
        }
      },
      lastname: {
        get () {
          return this.$store.state.order.last_name;
        },
        set (value) {
          this.$store.commit('order/ADD_LAST_NAME', value)
        }
      },
      email: {
        get () {
          return this.$store.state.order.email;
        },
        set (value) {
          this.$store.commit('order/ADD_EMAIL', value)
        }
      },
      address: {
        get () {
          return this.$store.state.order.address;
        },
        set (value) {
          this.$store.commit('order/ADD_ADDRESS', value)
        }
      },
      city: {
        get () {
          return this.$store.state.order.city;
        },
        set (value) {
          this.$store.commit('order/ADD_CITY', value)
        }
      },
      comment: {
        get () {
          return this.$store.state.order.comment;
        },
        set (value) {
          this.$store.commit('order/ADD_COMMENT', value)
        }
      },
      phone: {
        get () {
          return this.$store.state.order.phone_number;
        },
        set (value) {
          this.$store.commit('order/ADD_PHONE_NUMBER', value)
        }
      },
      postOffices: {
        get () {
          return this.$store.state.order.post_offices;
        }
      },
      cities: {
        get () {
          return this.$store.state.order.cities;
        }
      },
      promoCode: {
        get () {
          return this.$store.state.order.promo_code;
        },
        set (value) {
          return this.$store.commit('order/ADD_PROMO_CODE', value);
        }
      },
      agreement: {
          get () {
              return this.$store.state.order.is_agreement_signed;
          },
          set (value) {
            this.$store.commit('order/TOGGLE_AGREEMENT', value);
          }
      },
      postOffice: {
          get () {
              return this.$store.state.order.selected_post_office;
          },
          set (value) {
              this.$store.commit('order/SELECT_POST_OFFICE', value);
          }
      },
    },
    methods: {
      async checkPromo (event) {
        const promoValue = event.target.value;
        this.promoFocused = false;

        if (promoValue) {
          this.promoFocused = true;

          const result = await this.$store.dispatch('order/CHECK_PROMO', promoValue);
          this.has_promo = result.has_promo;
        }
      },
    },
    async mounted () {
    },

    watch: {
      async isValid (newValue) {
          /*
          if (!this.agreement) {
              this.agreement = false;
          }
          */
        await this.$refs.deliveryObserver.validate();
      }
    }
  }
</script>

<style lang="stylus">
  @import '~assets/style/app.styl';
</style>
