<template>
  <form method="POST" id="liqpay-form" action="https://www.liqpay.ua/api/3/checkout"
        accept-charset="utf-8">
    <input type="hidden" name="data" :value="data"/>
    <input type="hidden" name="signature" :value="signature"/>
  </form>
</template>

<script>
  import LiqPayConfig from '@/config/liqPayKey';
  const uuid = require('uuid/v4');
  const sha1 = require('sha1');
  export default {
    computed: {
      data () {
        const orderId = this.$store.state.order.order_id;
        console.log('order_id in liqpay form', orderId);
        const data = {
          version: 3,
          public_key: LiqPayConfig.PUBLIC_KEY,
          action: 'pay',
          amount: this.$store.state.order.total_price,
          currency: 'UAH',
          description: 'Memoji stickers',
          order_id: orderId,
          result_url: `https://memoji.shop/thankYou/${orderId}`,
          server_url: `https://api.memoji.shop/api/addPaymentId/${orderId}`
        };
        const jsonData = JSON.stringify(data);
        return window.btoa(jsonData);
      },
      signature () {
        const privateKey = LiqPayConfig.PRIVATE_KEY;
        const encryptedData = this.data;
        const signString = `${privateKey}${encryptedData}${privateKey}`;
        return window.btoa(sha1(signString, {asString: true}));
      }

    }
  }
</script>
