<template>
  <div class="qr-p">
    <!-- <p class="qr-p__c">Зашел с компа?</p> -->
    <p class="qr-p__t">Сканируй с Iphone &#127822;</p>
    <img src="/img/desktop-qr.png" alt="qr code" class="qr-p__i" />
    <p class="qr-p__h">от сканируй с Iphone IOS 12+, <br>чтобы открыть с мобильного</p>
  </div>
</template>