<template>
  <div class="order-price">
    <p class="order-price__text">
      Сумма заказа:
      <span class="variant__subtitle variant__subtitle--orange" v-if="promoPrice">
        <s>{{ promoPrice }}</s>
        {{ totalPrice }}грн</span>
      <span class="variant__subtitle variant__subtitle--violett" v-else>{{ totalPrice }} грн</span>

    </p>
    <a @click="submitOrder" :disable="isOrderValid" class="order-price__button">Оплатить</a>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <liq-pay-form></liq-pay-form>
  </div>
</template>

<script>
  import LiqPayForm from './LiqPayForm'
  export default {
    name: 'SubmitOrder',
    layout: 'client',
    components: {
      LiqPayForm
    },
    data() {
      return {
        isLoading: false,
        isFullPage: true
      }
    },
    computed: {
      isOrderValid () {
        return this.$store.state.order.is_order_ready_to_checkout;
      },
      totalPrice () {
        return this.$store.state.order.total_price;
      },
      promoPrice () {
        const promoPrice = this.$store.state.order.full_price;
        if (promoPrice) {
            return promoPrice;
        }
      }
    },
    methods: {
      async submitOrder () {
        this.isLoading = true;
        try {
          await this.$store.dispatch('order/CHECKOUT_ORDER');
          this.isLoading = false;
        } catch (err) {
            console.log('err', err);
            this.isLoading = false;
        }
      }
    },
    async mounted () {
    }
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';

  .promo-price {
    color: #d47df2 !important;
  }
</style>
