<template>
  <div>
    <admin-header page-title="Промо-коды"></admin-header>
    <section class="admin promos">
      <b-table
        :data="promoCodes"
        :columns="columns"
      >
        <template slot-scope="props">
          <b-table-column field="promo_code" label="Промо-код">
            {{ props.row.promo_code }}
          </b-table-column>
          <b-table-column field="discount_percentage" label="% скидки">
            {{ props.row.discount_percentage }}
          </b-table-column>
          <b-table-column field="promo_used_count" label="Уже использовали">
            {{ props.row.promo_used_count }}
          </b-table-column>
          <b-table-column field="allowed_count_of_use" label="Всего использований">
            {{ props.row.allowed_count_of_use }}
          </b-table-column>
          <b-table-column label="Действие">
            <a @click="triggerDeactivateConfirmation(props.row)" class="admin promo-deactivate-btn"
               v-if="props.row.is_active && !props.row.isDeactivating">Деактивировать</a>
            <a @click="activatePromo(props.row)" class="admin promo-activate-btn" v-if="!props.row.is_active">Активировать</a>

            <a @click="deactivatePromo(props.row)" class="admin promo-deactivate-btn" v-if="props.row.isDeactivating">Точно?</a>

          </b-table-column>
        </template>


        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon
                  icon="emoticon-sad"
                  size="is-large">
                </b-icon>
              </p>
              <p>Пока что никаких промо</p>
            </div>
          </section>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
  import Nuxt from "../../../.nuxt/components/nuxt";
  import AdminApi from '@/api/admin';
  import AdminHeader from '@/components/admin/Header';

  export default {
    components: {
      Nuxt,
      AdminHeader
    },
    name: 'new',
    layout: 'admin',
    data() {
      return {
        promoCodes: [],
        columns: [
          {
            field: 'promo_code',
            label: 'Промо-код',
          },
          {
            field: 'discount_percentage',
            label: 'Скидка(%)',
          },
          {
            field: 'promo_used_count',
            label: 'Уже использовали',
          },
          {
            field: 'allowed_count_of_use',
            label: 'Всего использований',
          },

        ]
      }
    },
    methods: {
      triggerDeactivateConfirmation (promo) {
        this.promoCodes = this.promoCodes.map((promoCode) => {
          if (promoCode.id == promo.id) {
            return {
              ...promoCode,
              isDeactivating: true
            }
          }
          return promoCode;
        })
        setTimeout(() => {
          this.promoCodes = this.promoCodes.map((promoCode) => {
            if (promoCode.id == promo.id) {
              return {
                ...promoCode,
                isDeactivating: false
              }
            }
            return promoCode;
          })
        }, 4000)
      },
      async activatePromo (promo) {
        // todo: implement this on back-end/
      },
      async deactivatePromo (promo) {
        await AdminApi.deactivatePromoCode(promo.id);
        await this.loadPromoCodes();
        this.$notify({
          group: 'admin',
          title: `${promo.promo_code} был деактивирован`,
          text: 'Каждый кто попытается его использовать увидит ошибку'
        });
      },
      async loadPromoCodes () {
        const promos = await AdminApi.getPromoCodes();
        this.promoCodes = promos;
      }
    },
    async mounted () {
      await this.loadPromoCodes();
    },
    watch: {}
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/admin.styl';
  @import '~assets/style/admin-promos.styl';

</style>
