.admin {
  &.content {
    width: 100%;
    min-height: 100vh;
    background rgba(0, 0, 0, 0.6) url(/img/admin-bg.jpg) no-repeat center
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.sidebar {
    width: 80px;
    height: 100vh;
    display: flex;
    justify-content flex-start
    flex-direction: column;
    padding: 20px;
    padding-top: 155px;

    .sidebar--link {
      width: 40px;
      height: 40px;
      margin: 10px 0;
      background: #000;
      border-radius: 12px;

      img {
        opacity: 0.8;
      }

      &.nuxt-link-active {
        background: linear-gradient(137.47deg, #D47DF2 0%, #2D327F 45.74%)
      }
    }
  }

  &.route-content {
    width: calc(100% - 80px);
    min-height: 100vh;
    border-radius: 32px 0 0 0;
    background: transparent;
  }

  &.header {
    text-align: left;
    padding: 70px 40px 0 0;
    margin-bottom: 20px;

    .title {
      text-align: left;
      color: white;
      font-size: 48px;
    }
  }
}
