.infoSection {
  position fixed
  top 0
  right 0
  bottom 0
  width 550px
  background #F0EFF2
  box-shadow 0px 1px 80px rgba(17, 17, 17, 0.15)
  padding 40px 50px 80px
  overflow auto
  z-index 3
}

.infoSection-title {
  font-weight bold
  font-size 1.875rem
}

.infoSection-img {
  width 400px !important;
  height 400px !important;
  margin-bottom 1em
  box-shadow 0px 1px 2px rgba(17, 17, 17, 0.15)
}

.infoSection-wrapper {
  position relative
  margin-bottom: 20px;
}

.infoSection-link {
  margin: auto;
  display block
  position relative
  width 30px
  height 30px
  transform translateY(-50%)
  background url(/img/d-link.svg) no-repeat center
  background-size cover
  transition filter .35s ease

  &:hover {
    filter drop-shadow(0px 0px 2px rgba(0, 0, 0, .5))
  }
}

.showInfo-enter-active {
  transform: translateX(550px);
}

.showInfo-enter-to {
  transform: translateX(0);
  transition: transform .5s ease;
}

.showInfo-leave-active {
  transition: transform .5s ease;
}

.showInfo-leave-to {
  transform: translateX(550px);
}

.infoSection-bg {
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background rgba(0, 0, 0, .25)
  z-index 2
}

.showBg-enter-active {
  opacity 0
}

.showBg-enter-to {
  opacity 1
  transition: opacity  .5s ease;
}

.showBg-leave-active {
  transition: opacity .5s ease;
}

.showBg-leave-to {
  opacity 0
}
