.admin {
  .orders {
    padding: 0 40px 0 0;

    &-tabs {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: inline-flex;

      &--list-item {
        float: left;
        color: #F3F3F3;
        display: inline-block;
        height: 20px;
        margin: 10px;
      }

      &--link {
        display: block;
        color: rgba(255, 255, 255, 0.4);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;

        &.nuxt-link-active {
          color: white !important;
        }
      }
    }

    &-table {
      overflow: auto;
      background: #F3F3F3;
      border-radius: 32px 0 0 0;
      width: 100%;
      padding: 30px;

    }
  }

  &.btn {
    width: 100%;
    line-height 50px
    background linear-gradient(137.47deg, #D47DF2 0%, #2D327F 98.74%)
    text-align center
    font-size: 1.125rem
    text-transform uppercase
    color $white
    font-weight bold
    border-radius 10px
  }

}
