.admin {
  &.content {
    width: 100%;
    min-height: 100vh;
    background url(/img/admin-bg.jpg) no-repeat center
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.login {
    margin: 0 auto;
    width: 300px;
    height: auto;
    padding: 30px 30px 30px
    background: #F3F3F3;
    border-radius: 32px;
  }

  .input-wrapper {
    display: flex;
    margin-top: 30px;
  }
  .error-message {
    display: flex;
  }
  .centered {
    display: flex;
    width: 100%;
    text-align: center;
  }
}
