.admin {
  .promos {
    background: #F3F3F3;
    border-radius: 32px 0 0 0;
    width: 100%;
    padding: 30px;

    .promo-activate-btn {
      color: green;

    }

    .promo-deactivate-btn {
      color: red;

    }
  }
}
