$white = #fff;
$violett = #994DC9;
$dark-gray = #0C0C2B;
$gray = #C4C4C4;
$orange = #FA6440;

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.woff2) format('woff2'),
  url(/fonts/Inter-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Black.woff2) format('woff2'),
  url(/fonts/Inter-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Bold.woff2) format('woff2'),
  url(/fonts/Inter-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-ExtraBold.woff2) format('woff2'),
  url(/fonts/Inter-ExtraBold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  background #F3F3F3
  font-family 'Inter'
  font-weight normal
}

.title {
  font-size: 1.75rem
  color #23233F
  text-align center
  font-weight 900
  width 100%
  margin-bottom 10px !important
}

.subtitle {
  font-size 1.125rem
  font-weight bold
  color rgba(#000, .6)
  text-align center
  width 100%
  margin-top 10px !important
}

.subtitle--small {
  font-weight: 500;
  font-size: 14px;
  color: #666666

  strong {
    color: #666666
  }
}

.subtitle--dark {
  color #0C0C2B
}

.title--small {
  font-size: 1.125rem

  .client-info & {
    margin-bottom 0 !important
  }
}

.title--white {
  color $white
}

.container {
  padding 0 15px
}

.flex-container {
  display flex
  flex-wrap wrap
}

.flex-container--space-between {
  justify-content space-between
}

.flex-container--align-center {
  align-items center
}

.logo {
  display block
  position relative
  width 122px
  height 53px
  background url(/img/logo.png) no-repeat center
  background-size cover
}

.banner {
  position relative
  border-radius 0 0 25px 25px
  background linear-gradient(137.47deg, #D47DF2 0%, #2D327F 98.74%)
  padding: 25px 15px 50px
  margin-bottom 50px
  opacity 0
  transition opacity .8s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
  }
}

.banner__top {
  padding-bottom 15px
}

.banner__img {
  position absolute
  right 0
  bottom -40px
  max-width 225px
}

.cart {
  font-weight 900
  border-radius 20px
  background $white
  backdrop-filter blur(27.1828px)
  padding 6px 8px
}

.cart__count {
  font-size .5rem
  color $white
  background linear-gradient(295.33deg, #FC3832 -3.96%, #F2C314 137.01%)
  backdrop-filter blur(27.1828px)
  border-radius 50%
  width 18px
  height 18px
  line-height 18px
  text-align center
}

.title--banner {
  font-size 1.875rem
  color $white
  font-weight 900
  max-width 350px
}

.subtitle--banner {
  font-weight bold
  color $white
  opacity .8
  font-size: 1.125rem
}

.button {
  background $white;
  color $violett
  border-radius 100px
  font-size .875rem
  font-weight bold
  margin-top 20px
  padding 10px 20px
  height auto
  text-transform uppercase
}

.variant {
  flex 0 0 50%
  width 50%
  min-height 165px
  text-align center
  border-radius: 10px;
  padding: 10px

  &.animated {
    opacity 0
    transform translateY(10px)
    transition opacity .8s ease-in, transform .8s ease-in

    @media (min-width: 1024px) {
      opacity 1
    }

    &.is-visible {
      opacity 1
      transform translateY(0)
    }
  }

  &:hover {
    background rgba($gray, .1)
  }
}

.variant__title {
  font-size 1.125rem
  font-weight 900
  color $dark-gray
}

.variant__img {
  max-width 155px
  height 113px
  object-fit cover
  object-position center
}

.variant__subtitle {
  display flex
  align-items center
  justify-content: center
  flex-wrap wrap
  font-size .875rem
  font-weight bold

  s {
    color $violett
    font-size .625rem
  }
}

.variant__subtitle--violett {
  color $violett
}

.variant__subtitle--orange {
  color $orange
}

.top-sales {
  background url(/img/constructor-bg.jpg) no-repeat center top, linear-gradient(129.4deg, #E458FC 0%, #1D1279 98.74%)
  backdrop-filter blur(27.1828px)
  background-size 100% 310px
  border-radius 10px
  text-align center
  color $white
  padding 30px 15px
  width 100%
  margin 40px 0
}

.top-sales__mark {
  display inline-block
  font-size: .875rem
  text-transform uppercase
  background linear-gradient(333.97deg, #FC3832 -3.96%, #F2C314 137.01%)
  border-radius 20px
  font-weight bold
  padding: 3px 8px
  margin-bottom 10px
  opacity 0
  transition opacity .8s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
  }
}

.top-sales__img {
  display block
  max-width 100%
  filter drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25))
  margin-left auto
  margin-right auto
  transition transform .9s cubic-bezier(.54, 1.31, .73, 1.37)
  transform scale(0.9)
  transform-origin center

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    transform scale(1)
  }
}

.top-sales__button {
  font-weight 900
  font-size 1.125rem
  color $white !important
  background: transparent
  border none
  opacity 0
  transition opacity .35s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
  }
}

.tabs-wrapper {
  opacity 0
  transform: translateX(10px)
  transition opacity .8s ease, transform .8s ease
  margin-left: auto
  margin-right: auto

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
    transform: translateX(0px);
  }
}

.tabs-img {
  display block
  width 100%
  max-width 90%
  margin: 0 auto 20px
}

.tabs-heading {
  max-width 90%
  width 100%
  margin 0 auto
  background: rgba($gray, .1);
  border-radius: 60px;
  padding 5px
  margin-bottom 45px
  opacity 0
  transform translateY(10px)
  transition opacity .8s ease-in, transform .8s ease-in

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
    transform translateY(0)
  }
}

.tabs-button {
  width 33.333%
  color $violett
  border-radius: 100px
  font-size .875rem
  font-weight bold
  border none
  padding: 11px 0
  background: transparent
  outline none
  text-transform uppercase
  text-align center

  &.isActive {
    background: $white;
    box-shadow: 0px 1px 1px rgba(64, 45, 142, 0.1);
  }
}

.instructions {
  background $white
  padding-top 40px
  padding-bottom 50px
}

.instructions__subtitle {
  font-size 1.125rem
  color $black
  opacity .6
  font-weight bold
  text-align center
  width 100%
  margin-bottom 30px
  opacity 0
  transform translateY(10px)
  transition opacity .8s ease, transform .8s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
    transform translateY(0)
  }
}

.instructions__item {
  position relative
  width 100%
  padding-left 70px
  min-height 50px
  margin-bottom 25px
  opacity 0
  transform translateY(10px)
  transition opacity .8s ease, transform .8s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
    transform translateY(0)
  }
}

.instructions__item-title {
  color #0C0C2B
  font-size: 1.125rem
  font-weight 900
  line-height 1
  margin-bottom 5px
}

.instructions__item-text {
  font-size .875rem
  font-weight 400
  color #666666
  line-height 1.25
  margin-bottom 5px
  padding-right 45px
}

.instructions__item-text--violett {
  color $violett
}

.instructions__item-counter {
  position absolute
  display flex
  justify-content center
  align-items center
  left 0
  top 0
  width 50px
  height 50px
  border-radius: 50%
  background: rgba($violett, .1)
  font-size: 1.125rem
  font-weight 800
  text-align center
  color $violett
}

.custom-order {
  padding 50px 30px
  background url(/img/form-bg.png) no-repeat center
  background-size cover
}

.custom-order__subtitle {
  color $white
  text-align center
  position relative
  font-size 1.125rem
  text-transform capitalize
  font-weight bold
  padding-bottom 22px
  margin-bottom 22px
  opacity 0
  transform translateY(10px)
  transition opacity .8s ease, transform .8s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
    transform translateY(0)
  }

  &:after {
    content ''
    position absolute
    bottom 0
    left 50%
    transform translateX(-50%)
    width 50px
    height 1px
    background $white
  }
}

.custom-order__name--thank-you {
  font-weight 900
  font-size 1.125rem
  color #0C0C2B
}

.custom-order__group {
  display flex
  position relative
  width 100%
  background $white
  height 50px
  border-radius: 10px;
  line-height 50px
  margin-bottom 15px
  opacity 0
  transform translateY(10px)
  transition opacity .8s ease, transform .8s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
    transform translateY(0)
  }

  &:last-of-type {
    margin-bottom 0
  }
}

.custom-order__group--thank-you {
  margin-top 10px !important
  margin-bottom 10px !important
  border: 1px solid #E0E0E0;
}



.custom-order__link--copy {
  width 50px
  height 50px
  display block
}

.custom-order__link--copy-orange {
  background url(/img/copy-orange.png) no-repeat center
  background-size 50%
}

.custom-order__link--copy-green {
  background url(/img/copy-green.png) no-repeat center
  background-size 50%
}

.custom-order__link--mail {
  width 50px
  height 50px
  background url(/img/mail.png) no-repeat center
  background-size cover
  margin-left auto
}

.custom-order__link--phone {
  width 50px
  height 50px
  background url(/img/phone.png) no-repeat center
  background-size cover
  margin-left auto
}

.custom-order__link--share {
  width 50px
  height 50px
  background url(/img/share.png) no-repeat center
  background-size cover
  margin-left auto
}

.contacts {
  padding-top 40px
  padding-bottom 60px
  text-align center
}

.contacts__img {
  display block
  width 56px
  height 56px
  margin 0 auto 10px
  animation-timing-function: ease;
  animation: pulse 1.5s infinite;
  filter: drop-shadow(0 0 0 rgba(132, 56, 179, 1));

  @keyframes pulse {
  0% {
    filter: drop-shadow(0 0 0 rgba(132, 56, 179, 1));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(132, 56, 179, 0));
  }
}
}

.contacts__insta-subtitle {
  position relative
  color: rgba(#000, .6);
  font-size: 14px
  font-weight bold
  margin-bottom: 20px

  &:before {
    content: ''
    position absolute
    height 20px
    width 30px
    background url(/img/insta-arrow.svg) no-repeat center;
    background-size: cover
    pointer-events: none
    top: -25px;
    left: 125px;
  }
}

.contacts__insta-link {
  display block
  font-size 1.5rem
  font-weight 800
  background linear-gradient(175deg, #E458FC, #1D1279)
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts__subtitle {
  position relative
  font-weight 900
  font-size 1.125rem
  color #0C0C2B
  padding-top 20px
  margin-top 20px

  &:after {
    content ''
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    width 50px
    height 1px
    background #C4C4C4
  }
}

.contacts__tag {
  display block
  font-size 1.125rem
  color $white
  font-weight bold
  width 160px
  text-align center
  border-radius 20px
  background linear-gradient(338.39deg, #FC3832 -3.96%, #F2C314 137.01%)
  margin: 15px auto 30px

  &:hover {
    color $white
  }
}

.copyright {
  opacity 0.6

  .copyright__link, p {
    display block
    margin-bottom 15px
    color: #000
    font-size .875rem
    font-weight bold
    text-transform capitalize
  }
}


//Order page


.order {
  position relative
  background linear-gradient(137.47deg, #D47DF2 0%, #2D327F 45.74%)
  padding-top 50px
}

.order__wrapper {
  background $white
  border-radius 32px 32px 0px 0px
  padding-top 30px
}

.order__wrapper--thank-you {
  padding-left 30px
  padding-right 30px
  min-height 100vh
}

//Stepper

.stepper {

}

.stepper__heading {
  justify-content: space-around
}

.stepper__heading-button {
  font-size: .875rem
  font-weight: bold
  color #503E9D
  text-align: center
  width 85px
  border none
  text-transform uppercase
  background transparent
}

.stepper__body {
  max-width calc(100% - 60px)
  width 100%
  margin 30px auto 0
  padding-top 30px
  border-top 1px dashed rgba(#6339A5, .6)
}

.stepper__heading-button-num {
  display block
  width 50px
  height 50px
  line-height 50px
  text-align center
  border-radius: 50%
  background rgba(#503E9D, .1)
  font-weight 800
  font-size: 1.125rem
  margin: 0 auto 15px

  .stepper__heading-button.isActive & {
    color: $white
    background: linear-gradient(137.47deg, #D47DF2 0%, #2D327F 98.74%)
  }
}

.stickerpack {
  position relative
  display flex
  flex-wrap wrap
  margin-top 25px
}

.stickerpack__remove {
  position absolute
  padding 0
  top: -2px
  right: 0
  width 30px
  height 30px
  background: rgba(#EB5757, .1) no-repeat center;
  border: none
  border-radius: 4px
  transition background .8s ease

  &:hover {
    background: rgba(#EB5757, .3) no-repeat center
  }
}

.stickerpack__title {
  font-size: .875rem
  font-weight bold
  color #683BA8
  width 100%
  margin-bottom 4px
}

.stickerpack__file {
  position absolute
  opacity 0
  pointer-events none
  width: 100%;
}

.stickerpack__file-label {
  width 30%
  height 100px
  border 1px solid #E0E0E0
  border-radius 10px
  margin: 10px 1.5% 5px
  background: url(/img/file-stump.svg) no-repeat center
  background-size: 65%;
  position: relative;

  &:first {
    background: url(/img/file-first-label.svg) no-repeat center
  }

  &--error {
    border 1px solid red;
  }

  &--focus {
    border 1px solid #683BA8 !important;
  }

  &--loading {
    &:after {
      content: " ";
      display: block;
      width: 80px;
      height: 80px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #683BA8;
      border-color: #683BA8 transparent #683BA8 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stickerpack__file-label--filled {
  position: relative;
  width 30%
  height 100px
  border 1px solid #E0E0E0
  border-radius 10px
  margin: 10px 1.5% 5px
}

.stickerpack__file-img {
  width 100%
  height 98px
  border-radius 10px
}

.stickerpack__file-img-hidden {
  display: none;
}

.stepper__button {
  width 100%
  max-width 500px
  margin: 10px auto
  display block
  background transparent
  border-radius 10px
  border 1px solid #E0E0E0
  padding: 15px 0 17px
  font-size .875rem
  font-weight bold
  text-transform uppercase
  color rgba(#000, .6);
}

.stepper__button--white {
  background: $white;
}

.client-info {
  position relative
  z-index 2
  padding: 30px 30px 100px
  margin-top 20px
  background: #F3F3F3;
  border-radius: 32px 32px 0px 0px;
}

.has-error {
  color: #EB5757
}
.field {
  position relative

  &.has-addons {
    flex-wrap: wrap
  }

  .order-input__label {
    position absolute
    pointer-events none
    z-index 4
    font-size: .875rem
    font-weight bold
    top 15px
    left 16px
    transition all .35s ease
    opacity: .5
    transform-origin left center

    &.isFocused,
    &.isFilled {
      top 1px
      transform: scale(.75)
      opacity 1
    }
  }

  .error + .order-input__label {
    color #EB5757
    opacity 1 !important
  }

  .control {
    width 100%
  }

  .control.success {
    &:after {
      content: none;
    }
  }

  .is-error {
    margin-bottom: 5px;
    margin-top: 0;
    color #EB5757;
  }
  .control.has-icons-right .icon {
    height: 2.75em;
  }
  .required {
    position: relative;
  }
  .required:after {
    color: #e32;
    content: ' *';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
  }

  input {
    width 100%
    border-radius 10px !important
    border 1px solid #E0E0E0
    height 50px
    padding-left 15px
    padding-right 15px
    font-size: .875rem
    font-weight bold
    margin-bottom 8px
    outline none
    color #000

    &::placeholder {
      transition opacity .35s ease
      opacity 0
    }

    &.is-success {

    }
    &:focus {
      border-color #9B51E0

      &::placeholder {
        opacity .5
      }
    }

    &.is-error {
      border-color #EB5757

      &::placeholder {
        color #EB5757
      }
    }

    &::placeholder {
      text-transform uppercase
    }
  }
}
.form-input,
.form-textarea {
  width 100%
  border-radius 10px
  border 1px solid #E0E0E0
  height 50px
  padding-left 15px
  padding-right 15px
  font-size: .875rem
  font-weight bold
  margin-bottom 8px
  outline none
  color #000

  input {
    width 100%
    border-radius 10px
    border 1px solid #E0E0E0
    height 50px
    padding-left 15px
    padding-right 15px
    font-size: .875rem
    font-weight bold
    margin-bottom 8px
    outline none
    color #000
  }

  &:focus {
    border-color #9B51E0
  }

  &.error {
    border-color #EB5757

    &::placeholder {
      color #EB5757
    }
  }

  &::placeholder {
    text-transform uppercase
  }
}

.form-textarea {
  resize: none
  height 100px
  padding-top 15px
  padding-bottom 15px
}

.client-info__subtitle {
  text-align center
  color #683BA8
  font-size: .875rem
  font-weight bold
  margin-bottom 10px
}

.form-group {
  margin-top 5px
}

.form-checkbox {
  position absolute
  opacity 0
  pointer-events none
}

.form-checkbox-label {
  position relative
  display block
  font-weight bold
  font-size: .875rem
  color: rgba(#000, .6)
  line-height: 1
  padding-left 55px
  padding-top 5px

  .form-checkbox:checked + & {
    .form-phantom-checkbox__caret {
      right -16.7px
      filter grayscale(0)
      transition: right .35s ease
    }
  }
}

.form-phantom-checkbox {
  position absolute
  left 0
  top 0
  width 42px
  height 24px
  border-radius 20px
  overflow hidden
  margin-right 10px
}

.form-phantom-checkbox__caret {
  position absolute
  top: 0
  right 0
  filter grayscale(1)
  display block
  width 60px
  height 24px
  background: url(/img/checkbox-caret.svg) no-repeat center
  background-size cover
  transition: right .35s ease, filter .15s ease .35s
  opacity .9
}

.order-price {
  display flex
  justify-content: space-between
  align-items: center
  position fixed
  bottom: 0
  left: 0
  right: 0
  height 70px
  background $white
  box-shadow: 0px -1px 2px rgba(17, 17, 17, 0.15);
  padding: 10px 30px
  z-index 5

  @media (min-width: 1024px) {
    position sticky
    bottom 40px
  }
}

.order-price__text {
  color #0C0C2B
  font-size: .875rem
  font-weight 900
  line-height 1.25
}

.order-price__text-count {
  display block
  color $orange
  font-size: 1.125rem
}

.order-price__button {
  width 167px
  height 50px
  line-height 50px
  background linear-gradient(137.47deg, #D47DF2 0%, #2D327F 98.74%)
  text-align center
  font-size: 1.125rem
  text-transform uppercase
  color $white
  font-weight bold
  border-radius 10px
  transition: .2s ease-in;

  &:focus,
  &:hover {
    color $white
    filter brightness(0.85) contrast(1.2)
  }

  &:active {
    color: white;
    background: linear-gradient(137.47deg, #D47DF2 50%, #2D327F 98.74%);
  }
}

.thank-you__img {
  display block
  margin 0 auto
  width 160px
  height 160px
  transform scale(.6)
  opacity 0
  transform-origin center
  transition transform .75s ease-in-out, opacity .5s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    transform scale(1)
    opacity 1
  }
}

.subtitle--thank-you {
  margin-bottom 5px !important
  opacity 0
  transition opacity .75s ease

  @media (min-width: 1024px) {
    opacity 1
  }

  &.is-visible {
    opacity 1
  }
}

.text--thank-you {
  max-width 245px
  width 100%
  text-align center
  margin 0 auto
  line-height 1.125
  font-weight 500
  font-size .875rem
  color #666666
}

.text--thank-you-large {
  max-width 100%
}

.text--center {
  text-align center
}

.text--violett {
  color: #503E9D
  font-weight 900
  margin-top 20px
  margin-bottom 20px
}

.border-line {
  display block
  border-bottom 1px dashed rgba(#6339A5, .5);
  width 100%
  margin 25px auto
}

.button--thank-you {
  background: linear-gradient(170.98deg, rgba(#E458FC, .9) 0%, rgba(#1D1279, .9) 98.74%);
  backdrop-filter: blur(27.1828px);
  border none
  border-radius 10px
  font-size: .875rem
  font-weight bold
  text-align center
  text-transform uppercase
  color $white
  line-height 50px
  width 100%
}

.link--thank-you {
  position relative
  display inline-block
  text-decoration underline
  font-weight bold
  font-size .875rem
  text-transform uppercase
  margin-top 50px
  left 50%
  transform translateX(-50%)
}

.close-btn {
  position: absolute;
  top: 65px;
  right: 20px;
}


// Styles for Basic stickers carousels

.basic-stickers {
  position relative
  padding-top 30px
  z-index 1

  &:before {
    content ''
    position absolute
    top: 0;
    bottom: -45px
    left: 50%;
    transform: translateX(-50%)
    width 100vw
    background #F3F3F3
    border-radius: 32px 32px 0px 0px;
    z-index -1
    opacity: .5

    @media (min-width: 1024px) {
      max-width 375px
    }
  }
}


.pagination-img {
  display block
  margin-left auto
  margin-right auto
  width 45px
  height 45px
  background-size 85% auto !important
  background-position center center !important
  background-repeat no-repeat !important
  border-radius 50%
  border 3px solid rgba(#fff, 0)
  opacity .8
  transition all .35s ease

  .swiper-slide-active & {
    opacity 1
    border 3px solid rgba(#994DC9, .8)
  }
}

.slider-pagination {
  height 51px
}

.slider,
.slider-pagination {
  max-width 100%
  width 100%
  margin-left auto
  margin-right auto
}

.slider {
  padding-top 10px
  margin-bottom 10px
}

.slider-pagination {
  width 100%
}

.qr-p {
  display flex
  flex-direction column
  align-items center
  width 100%
  margin 30px auto
  background linear-gradient(137.47deg, #d47df2 0%, #2d327f 98.74%)
  border-radius: 10px;
  padding 30px
}

.qr-p__c {
  font-size 14px
  color #fff
  text-transform uppercase
  font-weight bold
  background linear-gradient(338.39deg, #FC3832 -3.96%, #F2C314 137.01%)
  border-radius 20px
  padding 3px 10px
}

.qr-p__t {
  font-size 26px
  color #fff
  font-weight 900
  text-align center
  width 100%
  margin-bottom 10px
  // margin-top 5px
  white-space nowrap

  @media (max-width: 350px) {
    font-size: 24px
  }
}

.qr-p__i {
  width 100%
  height auto
}

.qr-p__h {
  position relative
  font-size 14px
  color #fff
  font-weight 600
  line-height 17px
  opacity .9
  width 100%
  padding-left 45px
  margin-top 10px

  &:before {
    content: ''
    position absolute
    width 36px
    height 36px
    pointer-events none
    background url(/img/modal-arrow.svg) no-repeat center
    background-size cover
    left 6px
    top -5px
  }
}