body {
  @media (min-width: 1024px) {
    position absolute
    width 100%
    height 100vh
    left 0
    top 0
    overflow hidden
  }
}

.main {
  @media (min-width: 1024px) {
    position relative
    display flex
    align-items: center;
    justify-content: center
    width 100%
    height 100vh
    overflow hidden
    background #F3F3F4;
  }
}

.m-c {
  @media (min-width: 1024px) {
    width 355px
    height 100%
    padding 30px 0
    max-height 810px
  }

  @media (min-width: 1500px) {
    width 375px
  }
}

.scr-w {
  @media (min-width: 1024px) {
    position relative
    width 100%
    height 100%
    overflow-y auto
    border-radius 40px
    box-shadow rgba(0, 0, 0, 0.1) 0px 36px 42px
    
    &::-webkit-scrollbar {
      display none
    }
    
    &::-webkit-scrollbar-track {
      display none
    }
    
    &::-webkit-scrollbar-thumb {
      display none
    }
  }
}

.scr-w__h {
  display none

  @media (min-width: 1024px) {
    display block
    position sticky
    top 0
    left 0
    right 0
    backdrop-filter: blur(10px);
    background: linear-gradient(white, rgba(255, 255, 255, 0.79));
    z-index 10
  }

  svg {
    @media (min-width: 1024px) {
      width 355px
    }

    @media (min-width: 1500px) {
      width 375px
    }
  }
}

.scr-w__b {
  display none

  svg {

    @media (min-width: 1024px) {
      width 355px
    }

    @media (min-width: 1500px) {
      width 375px
    }
  }

  @media (min-width: 1024px) {
    display block
    z-index 10
    position sticky
    width: 100%
    bottom: 0
    left: 0
    backdrop-filter: blur(10px);
    background: linear-gradient(white, rgba(255, 255, 255, 0.79));
    border-radius 0 0 40px 40px
  }
}

.m-qr {
  display none

  @media (min-width: 1024px) {
    display block
    position absolute
    right 40px
    top 40px
    width 200px
    height 200px

    &:before {
      content: '';
      position absolute
      width 82px
      height 52px
      background url('/img/qr-arrow.svg') no-repeat center
      background-size cover
      right calc(100% + 28px)
      bottom 35px
    }
  }
}

.m-qr__img {
  width 200px
  height 200px
  border-radius 10px
}

.m-qr__t {
  text-align center
  font-size: 16px
  font-weight 500
  line-height: 19px
  margin-top 5px
  color: #828282;

  a {
    font-weight bold
    color: #421F91

    &:hover {
      text-decoration underline
    }
  }
}

.m-d {
  display none

  @media (min-width: 1024px) {
    display block
    width 345px
    margin-left 100px
  }

  @media (min-width: 1500px) {
    margin-left 140px
  }
}

.m-d__h {
  font-size: 60px
  font-weight 900
  color #23233F
}

.m-d__t {
  max-width 320px
  width 100%
  color #828282
  font-size: 20px
}

.m-d__b {
  display block
  text-align center
  line-height 48px
  margin-top 30px
  color #fff
  text-transform uppercase
  font-size 14px
  font-weight bold
  height 50px
  width 200px
  background linear-gradient(137.47deg, #d47df2 0%, #2d327f 98.74%)
  border none
  border-radius 10px
  transition box-shadow .35s ease

  &:hover {
    color #fff
    box-shadow 0 0 10px rgba(10,10,10, .5)
  }
}

.m-i {
  display none

  @media (min-width: 1024px) {
    display flex
    justify-content space-around
    align-items center
    position absolute
    bottom: 0
    right 0
    background #fff
    width 50%
    height 60px
    border-radius 20px 0 0 0
    max-width 680px
  }
}

.m-i__i {
  font-weight 800
  color #0C0C2B
  font-size 20px

  @media (max-width: 1200px) {
    font-size: 16px
  }

  p,a {
    line-height 1
    margin 0
  }

  a {
    background: -webkit-linear-gradient(90deg, #E09B3D 0.29%, #C74C4D 29.97%, #C21975 59.65%, #7024C4 99.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.m-i__t {
  display flex
  font-size 14px
  font-weight bold
  
  p, a {
    line-height 1
    opacity .6
    color #000
    margin 0 10px
  }

  a {
    &:hover {
      text-decoration underline
    }
  }
}