<template>
  <DesktopWrapper>
    <div class="order">
      <div class="order__wrapper">
        <a href="#" class="close-btn" @click="goBack()">
          <v-icon name="times-circle" style="color: #cccccc; width: 28px; height: 28px;" :scale="2"></v-icon>
        </a>
        <h1 class="title">Ваш заказ:</h1>
        <p class="subtitle subtitle--small">Стикеры уедут к Вам <strong>в течении 3х дней</strong></p>
        <form class="stepper">
          <div class="stepper__heading flex-container">
            <div class="stepper__heading-button isActive">
              <span class="stepper__heading-button-num">1</span>
              заказ
            </div>
            <div class="stepper__heading-button">
              <span class="stepper__heading-button-num">2</span>
              печать
            </div>
            <div class="stepper__heading-button">
              <span class="stepper__heading-button-num">3</span>
              доставка
            </div>
          </div>
          <product-constructor class="stepper__body"></product-constructor>
          <delivery-information></delivery-information>
        </form>
      </div>
      <order-checkout></order-checkout>
    </div>
  </DesktopWrapper>
</template>

<script>
  import ProductConstructor from '@/components/ProductConstructor/Constructor';
  import DeliveryInformation from '@/components/DeliveryInformation';
  import OrderCheckout from '@/components/OrderCheckout';
  import DesktopWrapper from '@/components/DesktopWrapper.vue';

export default {
  name: 'Order',
  layout: 'client',
  components: {
    ProductConstructor,
    DeliveryInformation,
    OrderCheckout,
    DesktopWrapper
  },
  methods: {
    goBack () {
        console.log('this router');
        this.$router.push('/');
    }
  },
  async mounted () {
      let isStickersFilled = null;
      this.$store.state.order.order_lines.stickers.forEach((stickerPack) => {

        console.log('stickepracck', stickerPack);
        isStickersFilled = stickerPack.files.some((sticker) => {
          return sticker.file !== null;
        });
      });

      if (!isStickersFilled) {
        this.$store.dispatch('order/INIT_STICKERS', this.$route.params.permalink);
      }
  }
}
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/desktop.styl';


</style>
