<template>
  <div class="admin content">
    <div class="admin sidebar" v-if="isAdmin(userRole)">
      <nuxt-link to="/admin/orders/new" exact class="sidebar--link">
        <img src="/img/star.svg" alt="star logo">
      </nuxt-link>
      <nuxt-link to="/admin/promos/list" exact class="sidebar--link">
        <img src="/img/star.svg" alt="star logo">
      </nuxt-link>
    </div>
    <nuxt class="admin route-content"/>
    <notifications group="admin"/>
  </div>
</template>
<script>
  import {isAdmin} from '@/mixins';

  export default {
    mixins: [isAdmin],
    computed: {
      userRole () {
        return this.$store.state.user_role;
      }
    },
    async mounted () {
      await this.$store.dispatch('LOAD_CURRENT_USER');
    }
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/admin.styl';


</style>
