<template>
  <div class="infoSection">
    <p class="infoSection-title">
      Необходимо заполнить детали доставки для заказа  {{ moment(info.created_at).format('DD-MM-YYYY HH:mm:ss')
      }} - {{ info.order_number }}</p>

    <p>{{ info.user_name}}</p>

    <p>{{ info.email}}</p>

    <p>{{ info.phone_number}}</p>
    <p>Город: {{ info.city}} - НП: {{ info.post_office }}</p>

    <ValidationObserver ref="deliveryDetailsObserver" tag="form">

      <ValidationProvider
        :rules="{ required: true, post_declaration_number: true }"
        v-slot="{ errors }"
      >
        <b-field

          :type="{'is-success': isDeliveryDetailsFilled, 'is-error': errors[0]}"
          :message="{'Введите корректный номер ТТН (14 цифр)': errors[0]}">

          <b-input
            :class="{'error': errors[0]}"
            v-model="postDeclarationNumber"
            type="text"
            placeholder="ТТН (14 цифр)"
          ></b-input>

        </b-field>
      </ValidationProvider>


      <ValidationProvider
        :rules="{ required: true, delivery_cost: true }"
        v-slot="{ errors }"
      >
        <b-field

          :type="{'is-success': isDeliveryDetailsFilled, 'is-error': errors[0]}"
          :message="{'Введите корректную цену в формате ХХ,XX': errors[0]}">

          <b-input
            :class="{'error': errors[0]}"
            v-mask="'+## ### ###-##-##'"
            v-model="deliveryCost"
            placeholder="Цена доставки"
            type="text"
          ></b-input>

        </b-field>
      </ValidationProvider>

      <a @click="submitDeliveryDetails" :disable="!isDeliveryDetailsFilled" class="delivery-details_btn">Подтвердить</a>
    </ValidationObserver>
  </div>
</template>

<script>
  import pdf from 'pdfvuer'
  import moment from 'moment'

  export default {
  props: ['info'],
  components: {
      pdf
  },
  data () {
    return {
      moment: moment,
      postDeclarationNumber: null,
      deliveryCost: null
    }
  },
    computed: {
      isDeliveryDetailsFilled () {
        return !!this.postDeclarationNumber && !!this.deliveryCost;
      }
    },
    methods: {
      async submitDeliveryDetails () {
        const result = await this.$refs.deliveryDetailsObserver.validate();
        if (result) {
          this.$emit('submitDeliveryDetails', this.info.id, this.postDeclarationNumber, this.deliveryCost);
        }
      },
  }
}
</script>

<style lang="stylus">
  @import '~assets/style/app.styl';

  .delivery-details {
    &_btn {
      margin-bottom: 12px;
      display: block;
      line-height 50px
      background linear-gradient(137.47deg, #D47DF2 0%, #2D327F 98.74%)
      text-align center
      font-size: 1.125rem
      text-transform uppercase
      color $white
      font-weight bold
      border-radius 10px
      transition: .2s ease-in;

      &:active {
        color: white;
        background: linear-gradient(137.47deg, #D47DF2 50%, #2D327F 98.74%);
      }
    }
  }
</style>
