<template>
  <div class="admin header">
    <h3 class="title title--large">{{ pageTitle }}</h3>
  </div>
</template>

<script>
  export default {
    name: 'Order',
    props: ['pageTitle'],
    data() {
      return {}
    },
  }
</script>

<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/admin.styl';


</style>
