<template>
  <div class="infoSection">
    <p class="infoSection-title">Заказ  {{ moment(info.created_at).format('DD-MM-YYYY HH:mm:ss')
      }} - {{ info.order_number }}</p>
    <div class="infoSection-wrapper" v-for="(orderLine, index) in info.order_lines" :key="index"
         style="position: relative; overflow: scroll;">
      <pdf v-if="orderLine.product_type && !orderLine.product_type.startsWith('static')" class="infoSection-img"
           :src="orderLine.product_preview_url" :page="1">
        <template slot="loading">
          loading content here...
        </template>
      </pdf>

      <img v-else :src="orderLine.product_preview_url" alt="picture">
      <a :href="orderLine.product_link" target="_blank" class="infoSection-link"></a>
    </div>

    <b-field>
      <b-input size="is-medium" v-model="info.user_name"></b-input>
    </b-field>
    <b-field>
      <b-input size="is-medium" v-model="info.email"></b-input>
    </b-field>
    <b-field>
      <b-input size="is-medium" v-model="info.phone_number"></b-input>
    </b-field>
    <b-field>
      <b-input size="is-medium" v-model="info.city"></b-input>
    </b-field>
    <b-field>
      <b-input size="is-medium" v-model="info.post_office"></b-input>
    </b-field>
    <b-field>
      <b-input size="is-medium" type="textarea" v-model="info.comment"></b-input>
    </b-field>
  </div>
</template>

<script>
  import pdf from 'pdfvuer'
  import moment from 'moment'

  export default {
    props: ['info'],
    components: {
      pdf
    },
    data () {
      return {
        moment: moment,
      }
    },
    mounted () {
      console.log('this info', this.info);
    }
  }
</script>
