<template>
  <div class="admin orders">
    <ul class="orders-tabs">
      <li class="orders-tabs--list-item">
        <nuxt-link class="orders-tabs--link" to="/admin/orders/new" exact>Новые</nuxt-link>
      </li>
      <li class="orders-tabs--list-item">
        <nuxt-link class="orders-tabs--link" to="/admin/orders/print" exact>В печати</nuxt-link>
      </li>
      <li class="orders-tabs--list-item">
        <nuxt-link class="orders-tabs--link" to="/admin/orders/readyForDelivery" exact>Готовы к доставке</nuxt-link>
      </li>
      <li class="orders-tabs--list-item">
        <nuxt-link class="orders-tabs--link" to="/admin/orders/inDelivery" exact>Доставка</nuxt-link>
      </li>
      <li class="orders-tabs--list-item">
        <nuxt-link class="orders-tabs--link" to="/admin/orders/archive" exact>Архив</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'Order',
  }
</script>

<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/admin.styl';

</style>
