<template>
  <DesktopWrapper>
    <template>
      <section class="banner" v-is-in-view-port="'is-visible'">
        <div class="banner__top flex-container flex-container--space-between flex-container--align-center">
          <a src="/" class="logo"></a>
          <nuxt-link to="/order" class="cart flex-container flex-container--align-center">
            <span class="cart__count">4</span>
            <span class="cart__name">Зина</span>
          </nuxt-link>
        </div>
        <h1 class="title--banner">{{ $t('main_page.title_banner') }}</h1>
        <p class="subtitle--banner">{{ $t('main_page.subtitle_banner') }}</p>
        <nuxt-link class="button" to="order">{{ $t('buttons.order') }}</nuxt-link>
        <img src="/img/banner-img.png" alt="" class="banner__img">
      </section>
      <section class="container flex-container">
        <div class="variant" @click="selectProduct(product)" v-is-in-view-port="'is-visible'"
            :class="{'animated': $index > 2}" v-for="(product, $index) in products" :key="$index" :id="product.id">

          <img :src="product.image_url" alt="contour" class="variant__img">
          <p class="variant__title">{{ product.title }}</p>
          <p class="variant__subtitle variant__subtitle--orange" v-if="product.discounted_price">
            <s>{{ product.total_price }}</s>
            {{ product.discounted_price }}грн</p>
          <p class="variant__subtitle variant__subtitle--violett" v-else>{{ product.total_price }} грн</p>
        </div>

        <!--<div class="variant">-->
        <!--<img src="/img/stickerpack.png" alt="stickerpack" class="variant__img">-->
        <!--<p class="variant__title">{{ $t('main_page.title_variant_two') }}</p>-->
        <!--<p class="variant__subtitle variant__subtitle&#45;&#45;orange">{{ $t('main_page.subtitle_variant_two') }}</p>-->
        <!--</div>-->
        <!---->
        <!--<div class="variant">-->
        <!--<img src="/img/multi-stickerpacks.png" alt="some-stickerpacks" class="variant__img">-->
        <!--<p class="variant__title">{{ $t('main_page.title_variant_three') }}</p>-->
        <!--<p class="variant__subtitle variant__subtitle&#45;&#45;orange">-->
        <!--<s>{{ $t('main_page.subtitle_variant_three') }}</s>-->
        <!--{{ $t('main_page.discount_variant_three') }}</p>-->
        <!--</div>-->
        <!---->
        <!--<div class="variant">-->
        <!--<img src="/img/firm.png" alt="firm" class="variant__img">-->
        <!--<p class="variant__title">{{ $t('main_page.title_variant_four') }}</p>-->
        <!--<p class="variant__subtitle variant__subtitle&#45;&#45;violett">{{ $t('main_page.subtitle_variant_four') }}</p>-->
        <!--</div>-->
        <!--<div class="variant animated"-->
        <!--&gt;-->
        <!--<img src="/img/t-shirt.png" alt="t-shirt" class="variant__img">-->
        <!--<p class="variant__title">{{ $t('main_page.title_variant_five') }}</p>-->
        <!--<p class="variant__subtitle variant__subtitle&#45;&#45;violett">{{ $t('main_page.subtitle_variant_five') }}</p>-->
        <!--</div>-->
        <!--<div class="variant animated"-->
        <!--v-is-in-view-port="'is-visible'">-->
        <!--<img src="/img/cup.png" alt="cup" class="variant__img">-->
        <!--<p class="variant__title">{{ $t('main_page.title_variant_six') }}</p>-->
        <!--<p class="variant__subtitle variant__subtitle&#45;&#45;orange">{{ $t('main_page.subtitle_variant_six') }}</p>-->
        <!--</div>-->

        <Modal v-if="!checkIOS || !checkIOSVersion" />

        <div class="top-sales" v-if="checkIOS && checkIOSVersion">
          <p class="top-sales__mark"
            v-is-in-view-port="'is-visible'">{{ $t('main_page.mark_topsales') }}</p>
          <h3 class="title title--white">{{ $t('main_page.title_topsales') }}</h3>
          <img src="/img/constructor-img.png" alt="stickerpacks" class="top-sales__img"
              v-is-in-view-port="'is-visible'">
          <nuxt-link to="/order" class="top-sales__button"
                    v-is-in-view-port="'is-visible'">{{ $t('main_page.button_topsales') }}
          </nuxt-link>
        </div>
        <!--<div class="tabs-wrapper"-->
        <!--v-is-in-view-port="'is-visible'">-->
        <!--<img src="/img/laptop-6.png" alt="" class="tabs-img" v-show="selectedTab === '1'">-->
        <!--<img src="/img/laptop-6.png" alt="" class="tabs-img" v-show="selectedTab === '2'">-->
        <!--<img src="/img/laptop-6.png" alt="" class="tabs-img" v-show="selectedTab === '3'">-->
        <!--</div>-->
        <!--<div class="tabs-heading flex-container"-->
        <!--v-is-in-view-port="'is-visible'">-->
        <!--<button class="tabs-button"-->
        <!--:class="{ isActive : selectedTab === '1' }"-->
        <!--@click="selectedTab = '1'" >-->
        <!--{{ $t('main_page.tab_button_one') }}</button>-->
        <!--<button class="tabs-button"-->
        <!--:class="{ isActive : selectedTab === '2' }"-->
        <!--@click="selectedTab = '2'" >-->
        <!--{{ $t('main_page.tab_button_two') }}</button>-->
        <!--<button class="tabs-button"-->
        <!--:class="{ isActive : selectedTab === '3' }"-->
        <!--@click="selectedTab = '3'" >-->
        <!--{{ $t('main_page.tab_button_three') }}</button>-->
        <!--</div>-->
      </section>
      <!---->
      <section class="instructions container flex-container">
        <h2 class="title instructions__title"
            v-is-in-view-port="'is-visible'">{{ $t('main_page.instructions_title') }}</h2>
        <p class="instructions__subtitle"
          v-is-in-view-port="'is-visible'">{{ $t('main_page.instructions_subtitle') }}</p>
        <div class="instructions__item"
            v-is-in-view-port="'is-visible'">
          <span class="instructions__item-counter">1</span>
          <p class="instructions__item-title">{{ $t('main_page.instructions_item_1_title') }}</p>
          <nuxt-link to="/order" class="instructions__item-text instructions__item-text--violett">
            {{ $t('main_page.instructions_item_1_text')
            }}
          </nuxt-link>
        </div>
        <div class="instructions__item"
            v-is-in-view-port="'is-visible'">
          <span class="instructions__item-counter">2</span>
          <p class="instructions__item-title">{{ $t('main_page.instructions_item_2_title') }}</p>
          <p class="instructions__item-text" v-html="$t('main_page.instructions_item_2_text_1')"></p>
          <!-- <p class="instructions__item-text">{{ $t('main_page.instructions_item_2_text_2') }}</p> -->
        </div>
        <div class="instructions__item"
            v-is-in-view-port="'is-visible'">
          <span class="instructions__item-counter">3</span>
          <p class="instructions__item-title">{{ $t('main_page.instructions_item_3_title') }}</p>
          <p class="instructions__item-text">{{ $t('main_page.instructions_item_3_text') }}</p>
        </div>
        <div class="instructions__item"
            v-is-in-view-port="'is-visible'">
          <span class="instructions__item-counter"><img src="/img/point-heart.png" class="instructions__item-img"></span>
          <p class="instructions__item-title">{{ $t('main_page.instructions_item_4_title') }}</p>
          <p class="instructions__item-text" v-html="$t('main_page.instructions_item_4_text')"></p>
        </div>
      </section>
      <form class="custom-order">
        <h3 class="title title--white">{{ $t('main_page.custom_order_title') }}</h3>
        <p class="custom-order__subtitle"
          v-is-in-view-port="'is-visible'">{{ $t('main_page.custom_order_subtitle') }}</p>
        <div class="custom-order__group"
            v-is-in-view-port="'is-visible'">
          <a href="mailto:memoji@gmail.com"
            id="mail"
            class="custom-order__link custom-order__link--copy custom-order__link--copy-orange"
            @click.prevent="copyToClipboardMail()"></a>
          <p class="custom-order__name">memoji.shop@gmail.com</p>
          <a href="mailto:memoji.shop@gmail.com"
            class="custom-order__link custom-order__link--mail"></a>
        </div>
        <div class="custom-order__group"
            v-is-in-view-port="'is-visible'">
          <a href="tel:+38 093 119 77 57"
            class="custom-order__link custom-order__link--copy custom-order__link--copy-green"
            @click.prevent="copyToClipboard()"></a>
          <p class="custom-order__name">+38 093 119 77 57</p>
          <a href="tel:+38 093 119 77 57"
            class="custom-order__link custom-order__link--phone"></a>
        </div>
      </form>
      <div class="contacts">
        <a href="https://www.instagram.com/memoji.shop/"><img src="/img/insta.svg" alt="instagram logo" class="contacts__img"></a>
        <p class="contacts__insta-subtitle">эта кнопка откроет наш аккаунт</p>
        <h4 class="title">{{ $t('main_page.contacts_title') }}</h4>
        <a href="https://www.instagram.com/memoji.shop/" class="contacts__insta-link">@memoji.shop</a>
        <p class="contacts__subtitle">{{ $t('main_page.contacts_subtitle') }}</p>
        <a href="https://www.instagram.com/memoji.shop" class="contacts__tag">#memojishop</a>
        <div class="copyright">
          <nuxt-link to="/aboutUs" class="copyright__link">{{ $t('main_page.about_us') }}</nuxt-link>
          <a href="https://telegra.ph/Dogovor-publichnoj-oferty-10-20"
            class="copyright__link">{{ $t('main_page.contacts_conditions') }}</a>

          <div class="payment-system-container">
            <img src="/img/visa.svg" class="payment-system-img" alt="Verified by visa">
            <img src="/img/mastercard.svg" class="payment-system-img" alt="Mastercard">
          </div>
          <p>{{ $t('main_page.contacts_version') }}</p>

        </div>
      </div>
    </template>
  </DesktopWrapper>
</template>

<script>
  import {isInViewPort} from '~/directives/isInViewPort.js';
  import productApi from '@/api/product';
  import Nuxt from "../.nuxt/components/nuxt";
  import Modal from '@/components/Modal.vue';
  import DesktopWrapper from '@/components/DesktopWrapper.vue';

  export default {
    components: {Nuxt, Modal, DesktopWrapper},
    name: 'Index',
    layout: 'client',
    directives: {
      isInViewPort
    },
    data() {
      return {
        selectedTab: '1'
      }
    },
    computed: {
      products () {
        return this.$store.state.products;
      },
      checkIOS () {
        return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
      },
      checkIOSVersion() {
        let userAgent = navigator.userAgent;
        let startFrom = navigator.userAgent.indexOf('iPhone OS') + 8;
        let endAt = startFrom + 2;

        return userAgent.slice( startFrom, endAt) >= 12;
      }
    },
    methods: {
      selectProduct (product) {
        this.$store.commit('order/RESET_ORDER_STATE');
        this.$router.push({path: `/order/${product.permalink}`})
      },
      copyToClipboardMail() {
        let testingCodeToCopy = document.querySelector('#mail');
        testingCodeToCopy.setAttribute('type', 'text');
        testingCodeToCopy.select();

        try {
          const successful = document.execCommand('copy');
          const msg = successful ? 'successful' : 'unsuccessful';
          alert('Testing code was copied ' + msg);
        } catch (err) {
          alert('Oops, unable to copy');
        }

        testingCodeToCopy.setAttribute('type', 'hidden');
        window.getSelection().removeAllRanges()
    }
    },
    async mounted () {
      console.log(this.$qa);
      await this.$store.dispatch('LOAD_PRODUCTS');
//      this.$store.dispatch('order/LOAD_CITIES');
    }
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  @import '~assets/style/desktop.styl';

  // @media (min-width: 1024px) {
  //   body {
  //     max-width: 375px;
  //     margin: 0 auto;
  //   }
  // }

  .payment-system-container {
    width: 30%;
    text-align: center
    margin: 20px auto;

  }

  .payment-system-img {
    height: 40px;
    width: 100%;
    display: block;
  }
</style>
