<template>
  <div class="terms-container">
    <h1>Условия использования Memoji.shop</h1>
    <h2>Что такое Memoji.shop?</h2>
    <p>
      Memoji.shop — это инструмент для создания индивидуальных наборов стикеров. Пользователь сам решает, какие стикеры хочет получить, оформляет заказ и получает на руки лист с вырезанными по контурам наклейками.</p>

    <h2>Чем удобен Memoji.shop?</h2>
    <p>
      Пользователю не приходится задумываться о том, как разместить картинки на листе, как нарисовать контуры для вырезания и где найти типографию, которая согласится распечатать единичный заказ.</p>

    <h2>За что я плачу?</h2>
    <p>Вы оплачиваете комплекс услуг по сборке, печати листа со стикерами и доставке.</p>

    <h2>Какие стикеры можно отправлять?</h2>
    <p>Вы можете отправлять абсолютно любые стикеры из Apple (iOS 13) или Telegram.</p>

    <h2>А что с авторскими правами?</h2>
    <p>
      Мы не продаем стикеры и ни в коем случае не заявляем никаких прав на владение ими. Memoji упрощает взаимодействие пользователя, как с источником стикеров, и типографией, куда может отправить на печать всё, что захочет.</p>

    <h2>Как стикер будет вырезан?</h2>
    <p>
      Линия реза рисуется с небольшим отступом от контура вокруг каждого элемента изображения. Лучше всего получаются стикеры, где либо нет отдельно находящихся мелких деталей, либо они находятся близко друг к другу.</p>

    <h2>Стоимость, оплата и доставка</h2>
    <p>
      Стоимость заказа рассчитывается на сайте автоматически и зависит от количества стикеров, формы и размеров. Мы устанавливаем цены, на основе которых рассчитывается стоимость, такими, какими считаем нужным.</p>

    <p>
      Вы оплачиваете заказ с помощью платежной системы на сайте LiqPay, картой Mastercard или Visa, или другим удобным способом.</p>
    <p>
      Мы организовываем доставку заказа на указанный адрес или отделение Новой почты. Доставка по Украине бесплатная. Доставка за пределы Украины — по отдельной договоренности.</p>

    <h2>Возврат и отмена заказа</h2>
    <p>
      Если вы недовольны качеством или чем-либо ещё, вы можете вернуть стикеры в срок до 14 дней с момента получения. Мы вернём деньги удобным для обеих сторон способом, переделаем или заменим стикеры.</p>

    <p>
      Вы можете отменить заказ в любой момент до его получения. Если мы приступили к его выполнению и уже потратили какие-либо ресурсы, то мы вправе не возвращать часть денег, которую считаем нужным.</p>

    <h2>Как связаться с командой?</h2>
    <p>По любым вопросам, связанным с работой проекта, пишите нам в инстаграм или на почту.</p>

    <p><span style="font-weight: bold">Instagram:</span> <a href="https://instagram.com/memoji.shop" target="_blank">@memoji.shop</a>
    </p>

    <p><span style="font-weight: bold">Email:</span> <a href="mailTo:memoji.shop@gmail.com">memoji.shop@gmail.com</a>
    </p>
    <nuxt-link to="/" class="logo centered">

    </nuxt-link>
  </div>
</template>

<script>
  import Nuxt from "../.nuxt/components/nuxt";

  export default {
    components: {Nuxt},
    name: 'Index',
    layout: 'client'
  }
</script>
<style lang="stylus">
  @import '~assets/style/app.styl';
  .terms-container {
    padding: 20px;
    background: white;

    h1 {
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: -0.3em;
      letter-spacing: 0;
      font-size: 20px;
      line-height: 1.6em;
    }

    p {
      margin-bottom: 10px;
    }
    .centered {
      margin: 1em auto;
    }
  }
</style>
